.slide_container
{
	position: relative;

	figure // для блоков слайдера устанавливаем 'display: none; position: absolute; top: 0;'
	{
		display: none;
		
		position: absolute;
		top: 0;

		img
		{
			
		}

		figcaption
		{
			
		}

		// для первого блока слайдера устанавливаем 'display: block; position: static;'
		&:nth-child(1)
		{
			display: block;
			position: static;
		}
	}
}
